* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {

}

.grid {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.gridSquare {
  border: 1px solid black;
}

.active {
  background-color: aquamarine;
}