* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {

}

#grid {
 width: 640px;
 display: flex;
 flex-wrap: wrap;
}

.gridSqaure {
  width: 40px; 
  height: 40px; 
  border: 1px solid black;
}
